<div class="m-5">
    <h3 class = "d-flex justify-content-center">Success</h3>
    <p class = "d-flex justify-content-center">Your loan has been submitted!</p>

    <div style="margin:auto; width:50%; background-color: rgb(234, 234, 234); padding: 5px; overflow: hidden;">
        <div style="float: left; display: block;">
            <h4>Your Information</h4>
        </div>
        <div style="float: right; display: block;">
        </div>
        <br><br>

        <div style="float: left; display: block;">
            <h5>Name</h5>
        </div>
        <div style="float: right; display: block;">
            <h5 id="NameHeader2"></h5>
        </div>
        <br><br>

        <div style="float: left; display: block;">
            <h5>Mobile</h5>
        </div>
        <div style="float: right; display: block;">
            <h5 id="MobileHeader2"></h5>
        </div>
        <br><br>

        <div style="float: left; display: block;">
            <h5>Email</h5>
        </div>
        <div style="float: right; display: block;">
            <h5 id="EmailHeader2"></h5>
        </div>
        <br>
        <hr>
        <div style="float: left; display: block;">
            <h4>Finance Details</h4>
        </div>
        <div style="float: right; display: block;">
            <h5></h5>
        </div>
        <br><br>
        <div style="float: left; display: block;">
            <h5>Loan Amount</h5>
        </div>
        <div style="float: right; display: block;">
            <h5 id="LoanHeader2"></h5>
        </div>
        <br><br>
        <div style="float: right; display: block;">
            <p id="TermHeader2"></p>
        </div>
        <br><br>
        <div style="float: left; display: block;">
            <h5>Monthly Repayment</h5>
        </div>
        <div style="float: right; display: block;">
            <h5 id="RepaymentHeader2"></h5>
        </div>
        <br><br>
        <div style="float: left; display: block;">
            <h5>Establishment Fee</h5>
        </div>
        <div style="float: right; display: block;">
            <h5>$300.00</h5>
        </div>
        <br><br>
        <div style="float: left; display: block;">
            <h5>Total Repayment</h5>
        </div>
        <div style="float: right; display: block;">
            <h5 id="TotalRepaymentHeader"></h5>
        </div>
    </div>

</div>
