<div class="m-5">
    <h3 class = "d-flex justify-content-center">Your Quote</h3>
    <div style="margin:auto; width:50%; background-color: rgb(234, 234, 234); padding: 5px;">
        <div style="float: left; display: block;">
            <h4>Your Information</h4>
        </div>
        <div style="float: right; display: block;">
        </div>
        <br><br>

        <div style="float: left; display: block;">
            <h5>Name</h5>
        </div>
        <div style="float: right; display: block;">
            <h5 id="NameHeader"></h5>
        </div>
        <br><br>

        <div style="float: left; display: block;">
            <h5>Mobile</h5>
        </div>
        <div style="float: right; display: block;">
            <h5 id="MobileHeader"></h5>
        </div>
        <br><br>

        <div style="float: left; display: block;">
            <h5>Email</h5>
        </div>
        <div style="float: right; display: block;">
            <h5 id="EmailHeader"></h5>
        </div>
        <br>
        <hr>
        <div style="float: left; display: block;">
            <h4>Finance Details</h4>
        </div>
        <div style="float: right; display: block;">
            <h5></h5>
        </div>
        <br><br>
        <div style="float: left; display: block;">
            <h5>Finance Amount</h5>
        </div>
        <div style="float: right; display: block;">
            <h5 id="LoanHeader"></h5>
        </div>
        <br><br>
        <div style="float: right; display: block;">
            <p id="TermHeader"></p>
        </div>
        <br>
        <hr>
        <br>
        <div style="float: left; display: block;">
            <h5>Repayment from</h5>
        </div>
        <div style="float: right; display: block;">
            <h5 id="RepaymentHeader"></h5>
        </div>
        <br><br>
        <div style="float: right; display: block;">
            <p>Monthly</p>
        </div>
        <br><br>
        <div class="d-flex justify-content-center">
            <button
            (click)="applyNow()">
                Apply Now
            </button>
        </div>
    </div>
    

</div>
